        <!-- Hero Start -->
<section id="hero">
  <div class="fs-hero hero-img">
    <% if current_user && current_user.admin? %>
      <%= link_to "Editer la page", edit_home_path(@home), class: "btn btn-white btn-md" %>
      <%= link_to "Logout", destroy_user_session_path, class: "btn btn-white btn-danger" %>
    <% end %>
    <div class="hero-caption center-left text-white">
      <h2><%= @titre.html_safe %></h2>
      <p class="mrg-top-30"><%= @sous_titre.html_safe %></p>
      <div class="mrg-top-30">
        <a class="btn btn-white btn-md"><%= @cta.html_safe %></a>
      </div>
    </div>
  </div><!-- /hero-img -->
</section>
        <!-- Hero End -->


