<%= simple_form_for(@home) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  </div>

  <div class="form-actions">
   <!-- Hero Start -->
    <section id="hero">
        <div class="fs-hero" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('<%= cl_image_path @home.hero1_image1 %>')">
        <% if current_user && current_user.admin? %>
          <%= link_to "Revenir à la vue", root_path, class: "btn btn-white btn-md" %>
          <%= link_to "Logout", destroy_user_session_path, class: "btn btn-white btn-danger" %>
        <% end %>
        <div class="hero-caption center-left text-white">
          <%= f.text_area :titre, class: 'editable' %>
          <p class="mrg-top-30"><%= f.text_area :sous_titre, class: 'editable' %></p>
          <div class="mrg-top-30">
           <%= f.text_area :cta, class: 'editable' %>
        </div>
      </div><!-- /hero-img -->
      <%= f.input :hero1_image1, :label => "Image Hero Background" %>
      <%= f.input :hero1_image1_cache, as: :hidden %>
    </section>
        <!-- Hero End -->

    <section class="section-1 bg-gray">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="features-block-3">
              <i class="ei ei-insurance"></i>
              <div class="features-info">
                <h4 class="features-tittle"><%= f.text_area :titre1_bloc1, class: 'editable' %></h4>
                <p><%= f.text_area :texte1_bloc1, class: 'editable' %></p>
              </div><!-- /features-info -->
            </div><!-- /features-block-3 -->
          </div>
          <div class="col-md-4">
            <div class="features-block-3">
              <i class="ei ei-folder-check"></i>
              <div class="features-info">
                <h4 class="features-tittle"><%= f.text_area :titre2_bloc1, class: 'editable' %></h4>
                <p><%= f.text_area :texte2_bloc1, class: 'editable' %></p>
              </div><!-- /features-info -->
            </div><!-- /features-block-3 -->
          </div>
          <div class="col-md-4">
            <div class="features-block-3">
              <i class="ei ei-pencil"></i>
              <div class="features-info">
                <h4 class="features-tittle"><%= f.text_area :titre3_bloc1, class: 'editable' %></h4>
                <p><%= f.text_area :texte3_bloc1, class: 'editable' %></p>
              </div><!-- /features-info -->
            </div><!-- /features-block-3 -->
          </div>
        </div>
      </div>
     </section>
     <section class="section-1">
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <h2 class="mrg-btm-30 mrg-top-70"><%= f.text_area :titre1_about1, class: 'editable' %></h2>
            <p class="mrg-btm-30"><%= f.text_area :texte1_about1, class: 'editable' %></p>
          </div>
          <div class="col-md-offset-1 col-md-5">
           <%= cl_image_tag(@home.image1_about1, :quality=>"auto") %>
            <%= f.input :image1_about1, :label => "Image about" %>
            <%= f.input :image1_about1_cache, as: :hidden %>
          </div>
        </div>
      </div>
    </section>
    <section class="section-3 bg fixed-bg dark-overlay" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('<%= cl_image_path @home.bg_cta1 %>')">
       <%= f.input :bg_cta1, :label => "Background CTA" %>
       <%= f.input :bg_cta1_cache, as: :hidden %>
      <div class="container">
        <div class="text-center">
          <h1><span class="font-weight-light"><%= f.text_area :cta1, class: 'editable' %></h1>
        </div>
      </div>
    </section>
    <%= f.button :submit %>
  </div>
<% end %>
